.header{
    height: 80px;
    width: 1280px;
    background-color: rgb(43, 35, 35);
    padding-left:100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav{
    display: flex;

}
.nav a{
    
    /* text-decoration: none; */
    color: aliceblue;
    padding: 15px;
}